    body {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      color: grey;
      background-color: white;
    }
    /* Made list items italic and larger */
    li {
     font-size: 18px;
     font-style: italic;
     font-weight: normal;
    }
    /* Made links maroon and removed underline */
    a {color: maroon;
    text-decoration: none;
    }
    /* a:hover {text-decoration: underline;
      font-weight: bold;
      font-size: 18px;
    } */
     a:visited {color: blue;}
    .resuemeListHeading {
     font-weight: bold;
     font-style: normal;
    }
    /* Made text bold */
    .bold {font-weight: bold;}
    .justify {text-align: justify;}
    /* Made background image for practice page */
    .practicebg {
      background-image: url('../Images/HLA Icon.jpg');
      background-position: top right;
      background-repeat: no-repeat;
    }
    /* Made borders and spacing */
    .box1 {
      border-width: 1px;
      border-style: solid;
      border-color: grey;

      /* border: solid red; */
    }
    /* Made padding */
    .box2 {
      padding: 5px;
    }
    /* Made margin */
    .box3 {
      margin: 50px;
    }
